.chat-container {
    width: 99vw;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .chat-header {
    height: 50px;
    background-color: #db3434;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chat-messages {
    height: 78vh;
    background-color: #ffffff;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message-container {
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
  }
  
  .message-container.sent {
    align-self: flex-end;
    background-color: #3ce745;
    color: #ffffff;
    width: 50%;
  }
  
  .message-container.received {
    align-self: flex-start;
    background-color: #2e31cc;
    color: #ffffff;
    width: 50%;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .chat-input input {
    flex: 1;
    height: 30px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
  }
  
  .chat-input button {
    width: 100px;
    height: 30px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
/* login css */
.container{
  padding-left: 50%;
  align-items: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loginform {
  padding-top: 50px;
  border: 3px solid #eae4e4;
  
}

input[type=email],
input[type=password] {
  width: 50%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(11, 1, 1);
  /* box-sizing: border-box; */
}

button {
  background-color: #3ce745;
  color: rgb(239, 244, 241);
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  margin-left: 50px;
  background-color: #3498db;
  align-items: center;
  padding: 50px;
}

span.psw {
  float: center;
  padding-top: 16px;
  padding-left: 5%;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}